<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Profile Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" />
              <!-- error -->
              <mat-error *ngIf="errorHandling('name', 'required')">
                <strong>*</strong>
              </mat-error>
            </mat-form-field>
            <!-- Submit -->
            <div class="button-wrapper">
              <button mat-flat-button color="primary">Submit</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
