<p>product-list works!</p>

<div>
  <input type="text" name="productName" [(ngModel)]="product.name">
  <button [hidden]="add" (click)="addProduct()">add Product</button>
  <button [hidden]="edit" (click)="updateProduct()">Update Product</button>
</div>
<table id="products">
  <tr>
    <th>S/N</th>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td><button (click)="setProductEdit(product)">Update</button></td>
    <td><button (click)="removeProduct(product)">Delete</button></td>

    <a [routerLink]="['productDetail',product.id,  { queryParams: {id: product.id, username: 'jimmy'}}]"
    class="button fancy-button">
      <i class="material-icons">{{ product.name }}</i>
    </a>

      <!-- <td><button (click)="">detail</button></td>
    const heroId = hero ? hero.id : null;
    this.router.navigate(['/heroes', { id: heroId }]); -->


    <!-- has another child root gain
    <a [routerLink]="['/crisis-center', 1]">Dragon Crisis</a>
    The resulting path is /crisis-center/1. -->
  </tr>
</table>

