<div *ngIf="questions">
  <div class="login-page">
    <div class="content" >
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-form">
        <div class="text-center">
          <h2 class="app-name">dynamic form</h2>
        </div>
        <div *ngFor="let question of questions" class="form-row">
          <app-question [question]="question" [form]="form"></app-question>
        </div>

        <div fxLayout="row">
          <div fxFlexFill>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              class="w-100"
            >
              save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>
