


<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile colspan="4" rowspan="1">
    <div class="lefted">
 <symbol-search></symbol-search>
 </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <symbol-info></symbol-info>
    <symbol-chart></symbol-chart>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4">
    <div class="lefted">
   <order-set></order-set>
    <order-result></order-result>
    </div>
  </mat-grid-tile>

</mat-grid-list>


<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

</div>
