<p>product-detail works!</p>

the id is :{{ id }}
<table id="products">
  <tr>
    <th>S/N</th>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <!-- <tr *ngFor="let product of products"> -->
  <tr *ngFor="let product of filter$ | async">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
  </tr>
</table>
<h1>form new product</h1>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" required />
  </div>

  <button class="button" type="submit" [disabled]="!checkoutForm.valid">
    add new product
  </button>
</form>
